<div class="site-section">
          <div class="container">
            <div class="row mb-4">
              <div class="col-md-7 mb-5 text-center mx-auto">
                <span class="caption"></span>
                <h2 class="text-black">Available <strong>Cards</strong></h2>
              </div>
            </div>
            <div class="row auctions-entry">
              <div class="col-6 col-md-4 col-lg-3">
                <div class="item">
                  <div>
                    <strong class="price">$95</strong>
                    <a href="buy.html"><img src="images/product_1.jpg" alt="Image" class="img-fluid"></a>
                  </div>
                  <div class="p-4">
                    <h3><a href="buy/1">NYU Apparel Card</a></h3>
                    <div class="d-flex mb-2">
                      <span>Memorabilia</span>
                      <span class="ml-auto">4 left</span>
                    </div>
                    <a href="buy.html" class="btn btn-bid">Buy for yourself</a> | <a href="gift.html" class="btn btn-bid">Gift to a Friend</a>
                  </div>

                </div>
              </div>
              <div class="col-6 col-md-4 col-lg-3">
                <div class="item">
                  <div>
                    <strong class="price">$30</strong>
                    <a href="buy.html"><img src="images/product_2.jpg" alt="Image" class="img-fluid"></a>
                  </div>
                  <div class="p-4">
                    <h3><a href="buy/2">Tandon Food Court Card</a></h3>
                    <div class="d-flex mb-2">
                      <span>NYU Dining</span>
                      <span class="ml-auto">10 left</span>
                    </div>
                    <a href="buy.html" class="btn btn-bid">Buy for yourself</a> | <a href="gift.html" class="btn btn-bid">Gift to a Friend</a>
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-4 col-lg-3">
                <div class="item">
                  <div>
                    <strong class="price">$199</strong>
                    <a href="buy.html"><img src="images/product_3.jpg" alt="Image" class="img-fluid"></a>
                  </div>
                  <div class="p-4">
                    <h3><a href="buy/3">Graduation Robe Card</a></h3>
                    <div class="d-flex mb-2">
                      <span>Clothing</span>
                      <span class="ml-auto">24 left</span>
                    </div>
                    <a href="buy.html" class="btn btn-bid">Buy for yourself</a> | <a href="gift.html" class="btn btn-bid">Gift to a Friend</a>
                  </div>
                </div>
              </div>
            <div class="col-6 col-md-4 col-lg-3">
                <div class="item">
                  <div>
                    <strong class="price">$777</strong>
                    <a href="buy/4"><img src="images/product_5.jpg" alt="Image" class="img-fluid"></a>
                  </div>
                  <div class="p-4">
                    <h3><a href="buy.html">Semester's Book Card</a></h3>
                    <div class="d-flex mb-2">
                      <span>Books and Supplies</span>
                      <span class="ml-auto">11 left</span>
                    </div>
                    <a href="buy.html" class="btn btn-bid">Buy for yourself</a> | <a href="gift.html" class="btn btn-bid">Gift to a Friend</a>
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-4 col-lg-3">
                <div class="item">
                  <div>
                    <strong class="price">$500</strong>
                    <a href="buy/5"><img src="images/product_6.jpg" alt="Image" class="img-fluid"></a>
                  </div>
                  <div class="p-4">
                    <h3><a href="buy.html">NYU Electronics Card</a></h3>
                    <div class="d-flex mb-2">
                      <span>Books and Supplies</span>
                      <span class="ml-auto">4 left</span>
                    </div>
                    <a href="buy.html" class="btn btn-bid">Buy for yourself</a> | <a href="gift.html" class="btn btn-bid">Gift to a Friend</a>
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-4 col-lg-3">
                <div class="item">
                  <div>
                    <strong class="price">$1,999</strong>
                    <a href="buy/6"><img src="images/product_7.jpg" alt="Image" class="img-fluid"></a>
                  </div>
                  <div class="p-4">
                    <h3><a href="buy.html">Tuition Card</a></h3>
                    <div class="d-flex mb-2">
                      <span>Academics</span>
                      <span class="ml-auto">293 left</span>
                    </div>
                    <a href="buy.html" class="btn btn-bid">Buy for yourself</a> | <a href="gift.html" class="btn btn-bid">Gift to a Friend</a>
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-4 col-lg-3">
                <div class="item">
                  <div>
                    <strong class="price">$450</strong>
                    <a href="buy/7"><img src="images/product_8.jpg" alt="Image" class="img-fluid"></a>
                  </div>
                  <div class="p-4">
                    <h3><a href="buy.html">NYU Gym Card</a></h3>
                    <div class="d-flex mb-2">
                      <span>Athletics</span>
                      <span class="ml-auto">123 left</span>
                    </div>
                    <a href="buy.html" class="btn btn-bid">Buy for yourself</a> | <a href="gift.html" class="btn btn-bid">Gift to a Friend</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


