<div class="footer">
          <div class="container">
            <div class="row">
              <div class="col-lg-3">
                <p class="mb-4"><img src="/images/logo_footer.png" alt="Image" class="img-fluid"></p>
                <p>Here to make buying and using gift cards easier for you and yours.</p>
                <p><a href="/index.html">Learn More</a></p>
              </div>
              <div class="col-lg-3">
                <h3 class="footer-heading"><span>Services</span></h3>
                <ul class="list-unstyled">
                  <li><a href="/register.html">Register</a></li>
                  <li><a href="/login.html">Login</a></li>
                  <li><a href="/buy.html">Buy</a></li>
                  <li><a href="/gift.html">Gift</a></li>
                </ul>
              </div>
            </div>
            <div class="row">
              <div class="col-12">
                <div class="copyright">
                  <p>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="icon-heart text-danger" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank" >Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
      <!-- .site-wrap -->

