<div class="section-bg style-1" style="background-image: url('images/hero_1.jpg');">
          <div class="container">
            <div class="row">
              <div class="col-lg-7 text-center mx-auto">
                <span class="caption text-white">Testimonials</span>
                <h2 class=" text-center mb-5 text-white">Happy <strong>Clients</strong></h2>
              </div>
            </div>


            <div class="owl-slide owl-carousel owl-testimonial">

              <div class="ftco-testimonial-1">
                <div class="ftco-testimonial-vcard d-flex align-items-center mb-4">
                  <img src="images/person_1.jpg" alt="Image" class="img-fluid mr-3">
                  <div>
                    <h3>Sequele Map</h3>
                    <span>Professional Table Reader</span>
                  </div>
                </div>
                <div>
                  <p>&ldquo;I can buy, gift, and use gift cards here! But you guys seriously need to be cautious about user input.&rdquo;</p>
                </div>
              </div>

              <div class="ftco-testimonial-1">
                <div class="ftco-testimonial-vcard d-flex align-items-center mb-4">
                  <img src="images/person_2.jpg" alt="Image" class="img-fluid mr-3">
                  <div>
                    <h3>Travis Jenkins</h3>
                    <span>Integration and Unit Tester</span>
                  </div>
                </div>
                <div>
                  <p>&ldquo;Wow, half of the testimonials are about how you're not doing the site right. Are you even reading these?&rdquo;</p>
                </div>
              </div>

              <div class="ftco-testimonial-1">
                <div class="ftco-testimonial-vcard d-flex align-items-center mb-4">
                  <img src="images/person_4.jpg" alt="Image" class="img-fluid mr-3">
                  <div>
                    <h3>Binarie Ninja</h3>
                    <span>Expert in Going in Reverse</span>
                  </div>
                </div>
<div>
                  <p>&ldquo;Wow, guys, watch how you're calling your binaries. Card worked, though.&rdquo;</p>
                </div>
              </div>

              <div class="ftco-testimonial-1">
                <div class="ftco-testimonial-vcard d-flex align-items-center mb-4">
                  <img src="images/person_3.jpg" alt="Image" class="img-fluid mr-3">
                  <div>
                    <h3>Guard Stack</h3>
                    <span>Bouncer</span>
                  </div>
                </div>
                <div>
                  <p>&ldquo;Cards were transferred to my account with no problem, even without the people who were paying for them knowing!&rdquo;</p>
                </div>
              </div>

              <div class="ftco-testimonial-1">
                <div class="ftco-testimonial-vcard d-flex align-items-center mb-4">
                  <img src="images/person_2.jpg" alt="Image" class="img-fluid mr-3">
                  <div>
                    <h3>Fuzzy Lop</h3>
                    <span>Repetative Tester</span>
                  </div>
                </div>
                <div>
                  <p>&ldquo;The food court food is OK, but the card worked perfectly.&rdquo;</p>
</div>
              </div>

              <div class="ftco-testimonial-1">
                <div class="ftco-testimonial-vcard d-flex align-items-center mb-4">
                  <img src="images/person_4.jpg" alt="Image" class="img-fluid mr-3">
                  <div>
                    <h3>John Ripper</h3>
                    <span>Expert Guesser</span>
                  </div>
                </div>
                <div>
                  <p>&ldquo;I bought a gift card for the gym for my grandmother thinking that it would help her stay in shape in her old age. Once she received the card in her email inbox she got buff as an ox. I have no idea what kind of black magic this is.&rdquo;</p>
                </div>
              </div>

            </div>

          </div>
        </div>
